SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
PINECONE_API_KEY=pcsk_5u19NV_CXiR7PMMrMP6cyL4ftRkxHLXZNynKZLYYJsszjtBMbycNarZGhs5tqX1JT63238
PINECONE_INDEX_NAME=https://orgnet-embeddings-jk9no5h.svc.aped-4627-b74a.pinecone.io
PORT=4000
